  #body {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 335px;
    height: 954px;
    z-index: 10;
  }
  #hairImg {
    position: absolute;
    left: 82px;
    top: 38px;
    width: 134px;
    height: 246px;
    z-index: 9;
    
  }
  #headImg {
    position: absolute;
    left: 101px;
    top: 18px;
    right: 0px;
    width: 109px;
    height: 149px;
    z-index: 8;
  }
  #torsoImg {
    position: absolute;
    left: 57px;
    top: 167px;
    width: 193px;
    height: 295px;
    z-index: 7;
  }
  #rightarmImg {
    position: absolute;
    left: 178px;
    top: 325px;
    width: 70px;
    height: 293px;
    z-index: 6;
  }
  #leftarmImg {
    position: absolute;
    left: 47px;
    top: 298px;
    width: 83px;
    height: 259px;
    z-index: 5;
  }
  
  #rightlegImg {
    position: absolute;
    left: 160px;
    top: 495px;
    width: 78px;
    height: 424px;
    z-index: 3;
  }
  #leftlegImg {
    position: absolute;
    left: 82px;
    top: 494px;
    width: 78px;
    height: 419px;
    z-index: 2;
  }
  .extraHandImg {
    position: absolute;
    top: 0px;
    width: auto;
    height: 100vh;
    z-index: -1;
  }
  
  
  
  

  